.spinner
{
    width: 3em;
    height: 3em;
    background: #248DD3;
    border-radius: 50%;
    margin: 0px auto;
    border: .3em solid transparent;
    -webkit-animation: glow 1s linear infinite;
    -moz-animation: glow 1s linear infinite;
    -o-animation: glow 1s linear infinite;
    animation: glow 1s linear infinite;
}

@-webkit-keyframes glow
{
    0%
    {
        box-shadow: 0 0 0 .4em #6DB3E1, 0 0 0 .1em #97C9EA;
        -webkit-transform: rotate(360deg);
        border-top-color: #fff;
    }

    50%
    {
        border-top-color: #fff;
    }

    100%
    {
        box-shadow: 0 0 0 .4em #6DB3E1, 0 0 0 3.6em transparent;
        border-top-color: #fff;
    }
}

@-moz-keyframes glow
{
    0%
    {
        box-shadow: 0 0 0 .4em #6DB3E1, 0 0 0 .1em #97C9EA;
        -moz-transform: rotate(360deg);
        border-top-color: #fff;
    }

    50%
    {
        border-top-color: #fff;
    }

    100%
    {
        box-shadow: 0 0 0 .4em #6DB3E1, 0 0 0 3.6em transparent;
        border-top-color: #fff;
    }
}

@keyframes glow
{
    0%
    {
        box-shadow: 0 0 0 .4em #6DB3E1, 0 0 0 .1em #97C9EA;
        transform: rotate(360deg);
        border-top-color: #fff;
    }

    50%
    {
        border-top-color: #fff;
    }

    100%
    {
        box-shadow: 0 0 0 .4em #6DB3E1, 0 0 0 3.6em transparent;
        border-top-color: #fff;
    }
}

.command-grid-disabled
{
    cursor: no-drop;
    opacity: 0.2;
    -moz-opacity: 0.2;
    filter: alpha(opacity=20);
}

.panel-search-canvas
{
    width: 99.85%;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    border-top-width: 0px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.popup_bg
{
    display: block;
    z-index: 1095;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #666;
    opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity=10);
}

.popup_content
{
    display: block;
    z-index: 1096;
    top: 20px;
}

    .popup_content .modal-body
    {
    }

.popup_medium
{
    width: 70%;
    /*height: 95%;*/
    left: 50%;
    /*top: 50%;*/
    margin-left: -35%; /*margin-left ติดลบครึ่งหนึ่งของความกว้าง */
    /*margin-top: -23.5%; /*margin-top ติดลบครึ่งหนึ่งของความสูง */ */;
}

/*.popup_medium .modal-body
    {
        height: 100%;
    }*/

.popup_full
{
    width: 94%;
    /*height: 95%;*/
    left: 50%;
    /*top: 50%;*/
    margin-left: -47%; /*margin-left ติดลบครึ่งหนึ่งของความกว้าง */
    /*margin-top: -23.5%; /*margin-top ติดลบครึ่งหนึ่งของความสูง */ */;
}

/*.popup_full .modal-body
    {
        height: 100%;
    }*/

.content_bg
{
    display: none;
    z-index: 9998;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: #fff;
    -moz-opacity: 0.3;
    filter: alpha(opacity=30);
}

.content_load
{
    background-color: transparent;
    z-index: 9999;
    position: fixed;
    border: 0px solid #ccc;
    left: 50%;
    top: 50%;
    width: 240px;
    height: 100px;
    margin-left: -120px; /*margin-left ติดลบครึ่งหนึ่งของความกว้าง */
    margin-top: -50px; /*margin-top ติดลบครึ่งหนึ่งของความสูง */
    text-align: center;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

.content_accept, .content_warning
{
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    max-height: 400px;
    padding: 0;
    z-index: 1097;
    overflow: auto;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content_accept
{
    color: #3a87ad;
    background-color: #3a87ad;
    border: 1px solid #3a87ad;
}

.content_warning
{
    color: #b94a48;
    background-color: #b94a48;
    border: 1px solid #b94a48;
}

.content_text-msg
{
    width: 100%;
    background-color: #fafafa;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content_disable
{
    color: #808080;
}
